#fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
@font-face {
    src: url("../FONTS/Langdon_2.otf");
    font-family: Langdon;
}
body {
    background-color: #151515;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    margin: 0;
}
header {
    height: 60px;
    background-color: #151515;
    overflow: hidden;
    width: 100%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header b {
    margin-left: auto;
    font-family: 'DM Sans';
    font-size: 20px;
    margin: 15px;
}
header b a {
    margin-left: auto;
    font-family: 'DM Sans';
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    background-color: #A91D3A;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
header b a:hover {
    background-color: #EEEEEE;
    color: #A91D3A;
    cursor: pointer;
    transition: all 0.3s;
}
header img {
    float: left;
    height: 30px;
    margin: 15px;
}
header h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Anton';
    width: 100%;
    letter-spacing: 1px;
}
.divider {
    height: 15px;
    background-color: #A91D3A;
}
.topnav {
    background-color: #EEEEEE;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topnav a {
    font-family: 'Archivo';
    float: left;
    color: #151515;
    text-align: center;
    padding: 15px 20px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}
.topnav a:hover {
    background-color: #151515;
    color: #EEEEEE;
}
.topnav a.active {
    background-color: #151515;
    color: #EEEEEE;
}
.bgimage {
    background: url("../IMAGES/bg1.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}
h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    text-align: center;
    line-height: 99%;
    color: white;
    font-family: 'Anton';
    font-size: 60px;
}

.form-container {
    max-width: 1100px; /* Adjusted to accommodate four columns */
    margin: 0 auto;
    background: #151515;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 25px;
}
.form-group {
    margin-bottom: 15px;
    font-family: 'DM Sans';
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    font-family: 'DM Sans';
    color: white;
}
.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group select {
    height: 380px; /* Adjust this value to set the height of the selection */
}
/* Adjust size of the description field and make it non-resizable */
.form-group textarea {
    height: 150px; /* Adjust this value to set the height of the textarea */
    resize: none; /* Disable resizing */
}
.form-actions {
    display: flex;
    justify-content: space-between;
    grid-column: span 4; /* Ensure the button spans across all four columns */
    margin: 0px 58.333px;
    padding: 20px; 
    padding-top: 0;
}
.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}
.form-actions .update {
    background-color: #A91D3A;
    color: #EEEEEE;
}
.form-actions .update:hover {
    background-color: #EEEEEE;
    color: #A91D3A;
    cursor: pointer;
    transition: all 0.3s;
}
/* Styling for the Cancel button */
.form-actions .cancel {
    background-color: #666666;
    color: #EEEEEE;
}
.form-actions .cancel:hover {
    background-color: #EEEEEE;
    color: #666666;
    cursor: pointer;
    transition: all 0.3s;
}
.ins {
    margin: 0px 58.333px;
    padding: 20px;
    font-family: 'DM Sans';
    color: #EEEEEE;
}
.ins .instructions{
    width: 350px;
    padding-left: 20px;
}

footer {
    margin: 30px;
    text-align: center;
}
footer b {
    font-size: 12px;
    font-family: 'DM Sans';
    color: white;
}
